body{
   
    font-family: "Arial";
    font-size: 20px;
}

h1{
    text-align: center;
    
}

#temp{
    font-size: 6rem;
    font-weight: bold;
    margin:0;
}
.centralBloc{
    background-color: #fcba03;
    /*border-style: solid;
    border-width: 1px;*/
    margin:auto;
    box-shadow: 3px 3px 7px #0B0B0C;
    width: 400px;
    border-radius: 30px;
   
    
}

#bloc1{
    background-color:#fcba03;
    /*border-style: solid;
    border-width: 1px;*/
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    justify-content: center;
    align-items: center;
    border-radius: 25px 25px 0px 0px;
    
    
}

#bloc2{
    background-color: #fcba03;
    
    border-color: white;
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 0px 25px;
    
}

#bloc3{
    background-color: #fcba03;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 25px 0px;
    
}

.bottomBlock{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.location{
    display: flex;
    flex-direction: row;
}

i{
    
    margin:5%;
    width:1em;
}

#text{
    margin:0px;
    
}

img{
    width: 100px;
    align-self: center;
}

.bold{
    font-weight: bold;
}


