body{
    background-color: aqua;
    
    
}


.centralBloc{
    background-color: azure;
    border-style: solid;
    border-width: 5px;
    margin : 25%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    
}

#bloc1{
    background-color: brown;
    border-style: solid;
    border-width: 2px;
    padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 5% ;
    padding-right: 5%;
    flex: 1 1 100%;
    justify-content: center;
    
}

#bloc2{
    background-color: rgb(206, 245, 100);
    border-style: solid;
    border-width: 2px;
    margin-right: 0;
    flex: 1 1 25%;
    justify-content: center;
}

#bloc3{
    background-color: blueviolet;
    border-style: solid;
    border-width: 2px;
    flex-direction: row;
    flex: 1 1 25%;
    justify-content: center;
}



